access_key = "Your AWS Access Key"
secret_key = "Your AWS Access Key"
region = "Your AWS region (i.e. us-west-2"
instance_type = "AWS instance type (i.e. t2.micro)"
ami = "AWS instance AMI"
key_name = "AWS key pair name (this pair will be used to ssh into AWS instance)"
private_ssh_key_path = "Path to the private key for the AWS key pair (i.e. ~/.aws/my-private-key.pem)
chef-server-user = "username for your chef server user"
chef-server-user-full-name = "Full name of your Chef Server User"
chef-server-user-email = "Email address to associate with your Chef Server User"
chef-server-user-password "Password for your Chef User Account"
chef-server-org-name = "Name for your organization on the Chef Server"
chef-server-org-full-name = "Full Name for your organization on the Chef Server"
